:root {
  --game-red: rgb(181, 44, 44);
  --grid-count: 50;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

.game {
  width: 700px;
  height: 800px;
  border: 1em solid var(--game-red);
  border-radius: 4em;
  background-color: var(--game-red);
  margin: auto;
}

.header {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-count), 1fr);
  grid-template-rows: repeat(var(--game-red), 1fr);
  height: 550px;
  margin: auto;
  width: 550px;
  background: white;
}

.hovered {
  background-color: black;
}

.dial-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  position: relative;
  top: 25px;
  left: 50px;
}

.reset-btn {
  height: 1.5em;
  font-size: 2em;
  border: 0.125em solid black;
  border-radius: 0.25em;
  color: var(--game-red);
}
